.top-box{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: gray;
    position: relative;
    box-shadow: 0px -2px 7px  rgb(92, 204, 238);
}
.img1{
    width: 50%;
}
.img-2{
    width: 50%;
    transform: scaleX(-1);
}
.top-box h1{
    color: rgb(251, 255, 191);
    font-size: 50px;
    text-shadow: 2px 2px 4px black;
    top: 40%;
    position: absolute;
    z-index: 1;
}
.courses-box{
    width: 100%;
    height: 70%;
    padding: 50px;
    display: flex;
    margin-top: 20px ;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box-c{
    width: 400px;
    height: 430px;
    margin: 20px;
}
@media screen and (min-width:300px) and (max-width:800px) {
    .top-box{
        height: 300px;
    }
    .top-box h1{
        font-size: 29px;
    }
    .box-c{
        width: 550px;
        height: 530px;
    }
    .img1{
        width: 50%;
        transform: scalex(-1) translate(-1px);
    }
    .img-2{
        width: 50%;
        transform: scaleX(1);
    }
    .box-c{
        margin: 0;
        margin-top: 90px;
    }
}